@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


.navbar {
  /* background-image: url('./images/desktop/image-hero.jpg'); */
  font-family: "Alata", sans-serif;
  background-color: green;
  
}

@media screen and (max-width:1026px) {
  .hamburger {
      display: flex;
      position: relative;
      border-color: #1e63f9;
  }

  .nav-menu li{
      display: none;
      visibility: hidden;
  }

  .btn {
      width: 80%;
      margin: .8rem;
  }

  .active {
      position: absolute;
      flex-direction: column;
      top: 9rem;
      left: 0rem;
      right:0rem;
      width: 100%;
      height: 100vh;
      transition: 0.6s;
      z-index: 2;
      background: black;
      border-left: 1px solid #eee;
      display: flex;
      color: #eee;
      margin-bottom: 2rem;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 100;
  }
  .active li{
      padding: 15px;

  }

}


