@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


.navbar {

  font-family: "Alata", sans-serif;
  animation: slideDown 2s ease-in-out;

  
}

@media screen and (max-width:1026px) {
  .hamburger {
      display: flex;
      position: relative;
      border-color: #1e63f9;
  }

  .nav-menu li{
      display: none;
      visibility: hidden;
  }

  .btn {
      width: 80%;
      margin: .8rem;
  }

  .active {
      position: absolute;
      flex-direction: column;
      top: 9rem;
      left: 0rem;
      right:0rem;
      width: 100%;
      height: 100vh;
      transition: 0.6s;
      z-index: 2;
      background: black;
      border-left: 1px solid #eee;
      display: flex;
      color: #eee;
      margin-bottom: 2rem;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 100;
  }
  .active li{
      padding: 15px;

  }

}


.home-section {
  background-image: url('./images/desktop/image-hero.jpg');
  position: relative;
  top: -9.5rem;
  z-index: -10;
}


@media screen and (max-width:786px) {

.home-section {
  background-image:  url('./images/mobile/image-hero.jpg');

  .interactive {
    background-image:  url('./images/mobile/image-interactive.jpg');
  }


}



.home-section p {
  font-size: 3rem;
  width: auto;
}

}

.animated-text {
  animation: slideDown 2s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.img-name {
  position: relative;
}



.img-name h3 {
  position: absolute;
  bottom: 0rem;
  display: block;
  /* left: 8%; */
  color: white;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  padding: 0rem 3rem;

}



.see-button {
  border: 1px solid black;
  padding: .5rem 3rem;
}

.see-button:hover {
background-color: black;
color: white;
}